In [1]:
from sqlalchemy import create_engine
import pandas as pd
from config import password
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'localhost' 
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres' 
POSTGRES_PASSWORD = password 
POSTGRES_DBNAME = 'AirQuality_DB'
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
    .format(username=POSTGRES_USERNAME, 
    password=POSTGRES_PASSWORD, 
    ipaddress=POSTGRES_ADDRESS, 
    port=POSTGRES_PORT,  
    dbname=POSTGRES_DBNAME)) 
# Create the connection
engine = create_engine(postgres_str) 
connection = engine.connect()

In [3]:
county_table = pd.read_sql_table('County', connection)

In [4]:
aqi_table = pd.read_sql_table('AirQuality', connection)

In [5]:
aqi_table

,aq_unique_no,State_Name,county_code,Date,AQI,Category,Defining_Parameter,site_no
0,0,California,1,2010-01-01,72,Moderate,PM2.5,06-001-0007
1,1,California,1,2010-01-02,51,Moderate,PM2.5,06-001-2004
2,2,California,1,2010-01-03,60,Moderate,PM2.5,06-001-0007
3,3,California,1,2010-01-04,90,Moderate,PM2.5,06-001-0007
4,4,California,1,2010-01-05,90,Moderate,PM2.5,06-001-0011
...,...,...,...,...,...,...,...,...
200088,200088,California,113,2020-09-26,34,Good,Ozone,06-113-1003
200089,200089,California,113,2020-09-27,35,Good,Ozone,06-113-1003
200090,200090,California,113,2020-09-28,45,Good,Ozone,06-113-1003
200091,200091,California,113,2020-09-29,74,Moderate,Ozone,06-113-1003
200092,200092,California,113,2020-09-30,67,Moderate,Ozone,06-113-1003

In [9]:
# The timelapse layer only needs county, date, AQI.  We might look for something else later.
timelapse_data = aqi_table[["county_code", "Date", "AQI"]].set_index('county_code')
timelapse_data

                  Date  AQI
county_code
1           2010-01-01   72
1           2010-01-02   51
1           2010-01-03   60
1           2010-01-04   90
1           2010-01-05   90
...                ...  ...
113         2020-09-26   34
113         2020-09-27   35
113         2020-09-28   45
113         2020-09-29   74
113         2020-09-30   67

[200093 rows x 2 columns]